.expenses,
.debts,
.emergency,
.retirement {
    height: auto;
    width: 300px;
    margin: 10px;
    border-radius: 15px;
    font-family: 'Roboto';
    display: inline-block;
    padding-bottom: 10px;
}

.BudgetCard h1 {
    font-weight: 400;
    font-size: 18px;
    padding-top: 10px;
}

.BudgetCard h2 {
    font-weight: 300;
    font-size: 16px;
}

.expenses {
    background-color: rgb(236, 94, 75);
}

.debts {
    background-color: rgb(68, 196, 132);
}

.emergency {
    background-color: #F6AE2D;
}

.retirement {
    background-color: #86BBD8;
}